@model MVCProject.Models.AppNetUserType

@{
    ViewBag.Title = "Chi tiết tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    span.select2-selection.select2-selection--single {
        height: 35px;
    }
</style>
<form action="/Account/Agent" method="post" enctype="multipart/form-data">
    <section class="content-header">
        <h2>@ViewBag.Title</h2>
        <h4>Địa chỉ nhận hàng</h4>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Username)
        @Html.HiddenFor(model => model.UserType)
        @Html.HiddenFor(model => model.DateCreate)
        @Html.HiddenFor(model => model.Expire)
        @Html.HiddenFor(model => model.UserOfName)
        @Html.HiddenFor(model => model.UserOfType)
        @Html.HiddenFor(model => model.IsDel)
    </section>
    <section class="content">
        <div class='arrage-popup'>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="UserName">Tên đăng nhập:</label>
                <div class="col-md-10">
                    @Html.Label(ViewData["UserName"].ToString(), new { @class = "control-label col-md-2" })
                </div>
            </div>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="Show">Kích hoạt</label>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive)
                </div>
            </div>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="DisplayName">Tên cá nhân/đại lý:</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.DisplayName, new { @class = "form-control", @maxlength = "32" })
                    @Html.ValidationMessageFor(model => model.DisplayName)
                </div>
            </div>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="TaxID">Mã số thuế:</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.TaxID, new { @class = "form-control", @maxlength = "20" })
                    @Html.ValidationMessageFor(model => model.TaxID)
                </div>
            </div>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="Address">Địa chỉ:</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @maxlength = "128" })
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="District">Quận/huyện:</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.District, new { @class = "form-control", @maxlength = "32" })
                    @Html.ValidationMessageFor(model => model.District)
                </div>
            </div>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="Email">Email:</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @maxlength = "64" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="Fax">Fax:</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Fax, new { @class = "form-control", @maxlength = "20" })
                    @Html.ValidationMessageFor(model => model.Fax)
                </div>
            </div>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="Phone">Điện thoại:</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @maxlength = "20" })
                    @Html.ValidationMessageFor(model => model.Phone)
                </div>
            </div>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="LocationID">Tỉnh/Thành phố</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.LocationID, (IEnumerable<SelectListItem>)ViewBag.LocationList,//sửa chọn theo vùng locationSub
                        "Chọn tỉnh/thành phố", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LocationID)
                </div>
            </div>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="LocationSubID">Khu vực:</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.LocationSubID, (IEnumerable<SelectListItem>)ViewBag.LocationSubList,
                        "Khu vực", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LocationSubID)
                </div>
            </div>
            <div style="text-align:center" class="col-md-12">
                <input type="submit" value="Lưu Lại" class="btn btn-info" />
                <a href="~/Account/Index" class="btn btn-info">Về danh sách</a>
                <a href="#"  onclick="FunctionAccept();" id="link_rest_pass" class="btn btn-info">Đặt lại mật khẩu</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
</form>
<script>
    function FunctionAccept() {
        var a = alertify.confirm('Đặt lại mật khẩu cho tài khoản này?', function (e) {
            if (e) {
                window.location = '../RestPassword/' + '@ViewData["UserName"].ToString()';
            }
        }).set('title', 'Thông Báo').show();
    }
    $(document).ready(function () {
        $("#LocationSubID").select2();
        $("#LocationID").select2();
    });
</script>

