@model MVCProject.Models.AppNetUserType

@{
    ViewBag.Title = "Agent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/Product/Create" method="post" enctype="multipart/form-data">
    <section class="content-header">
        <h2>@ViewBag.Title</h2>
        <h4>Địa chỉ nhận hàng</h4>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Username)
        @Html.HiddenFor(model => model.UserType)
        @Html.HiddenFor(model => model.DateCreate)
        @Html.HiddenFor(model => model.Expire)
        @Html.HiddenFor(model => model.LocationID)
    </section>
    <section class="content">
        <div class='arrage-popup'>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="UserName">Tên đăng nhập:</label>
                <div class="col-md-10">
                    @Html.Label(ViewData["UserName"].ToString(), new { @class = "control-label col-md-2" })
                </div>
            </div>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="DisplayName">Tên cá nhân/đại lý:</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.DisplayName, new { @class = "form-control", @maxlength = "20" })
                    @Html.ValidationMessageFor(model => model.DisplayName)
                </div>
            </div>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="TaxID">Mã số thuế:</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.TaxID, new { @class = "form-control", @maxlength = "20" })
                    @Html.ValidationMessageFor(model => model.TaxID)
                </div>
            </div>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="Address">Địa chỉ:</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="District">Quận/huyện:</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.District, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.District)
                </div>
            </div>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="Email">Email:</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="Fax">Fax:</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Fax, new { @class = "form-control", @maxlength = "20" })
                    @Html.ValidationMessageFor(model => model.Fax)
                </div>
            </div>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="Phone">Điện thoại:</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @maxlength = "20" })
                    @Html.ValidationMessageFor(model => model.Phone)
                </div>
            </div>
            <div style="text-align:center" class="col-md-12">
                <input type="submit" value="Lưu Lại" class="btn btn-info" />
                <a href="~/Product/Index" class="btn btn-info">Về danh sách</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
</form>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

