@model MVCProject.Models.Catalog
@if (!Request.IsAuthenticated)
{
    Response.Redirect("~/Account/Login");
    return;
}

@{
    ViewBag.Title = "Chỉnh sửa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/Catalog/Edit" method="post" enctype="multipart/form-data">
    <section class="content-header">
        <h2>@ViewBag.Title</h2>
        <h4>Danh mục</h4>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.UserID)
    </section>
    <section class="content">
        <div class='arrage-popup'>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="Title">Tiêu đề:</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="Code">Mã danh mục:</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Code)
                </div>
            </div>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="PID">PID:</label>
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.PID, (IEnumerable<SelectListItem>)ViewBag.CatalogList,
                 "Chọn danh mục", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PID)
                </div>
            </div>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="Description">Mô tả:</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>
            @Html.HiddenFor(model => model.LocationID)
            <div style="text-align:center" class="col-md-12">
                <input type="submit" value="Lưu Lại" class="btn btn-info" />
                <a href="~/Catalog/Index" class="btn btn-info">Về danh sách</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
</form>