@model MVCProject.Models.OrdersDetail

@{
    ViewBag.Title = "Thêm chi tiết đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Dictionary<long, string> priceList = (Dictionary<long, string>)ViewBag.PriceList;
}
<section class="content-header">
    <h2>@ViewBag.Title</h2>
    <h4>Thông tin sản phẩm</h4>
    </section>
    @using (Html.BeginForm("Edit", "OrderDetail", FormMethod.Post, new { Id = "odForm", Name = "odForm" }))
    {
        @Html.AntiForgeryToken()
<section class="content">
    <div class="arrage-popup">
        <div class="arrange-div form-group col-md-12">
            <label class="text-label col-md-2" for="UserName">Mã hóa đơn</label>
            <div class="col-md-6">
                @Model.OrderCode
            </div>
        </div>
        <div class="arrange-div form-group col-md-12">
            <label class="text-label col-md-2" for="ProductID">Sản phẩm</label>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.IDProduct, (IEnumerable<SelectListItem>)ViewBag.ProductList,
                     "Chọn sản phẩm", new { @class = "form-control", @onchange = "setPrice(this.value);" })
                @Html.ValidationMessageFor(model => model.IDProduct)
            </div>
        </div>
        <div class="arrange-div form-group col-md-12">
            <label class="text-label col-md-2" for="UserName">Giá</label>
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control", @readonly = "true" })
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>
        <div class="arrange-div form-group col-md-12">
            <label class="text-label col-md-2" for="UserName">Số lượng</label>
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", @onchange = "if(check(this))thanhtien();" })
                @Html.ValidationMessageFor(model => model.Amount)
            </div>
        </div>
        <div class="arrange-div form-group col-md-12">
            <label class="text-label col-md-2" for="UserName">Thuế</label>
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Tax, new { @class = "form-control", @onchange = "if(check(this))thanhtien();" })
                @Html.ValidationMessageFor(model => model.Tax)
            </div>
        </div>
        <div class="arrange-div form-group col-md-12">
            <label class="text-label col-md-2" for="UserName">Tổng cộng</label>
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Total, new { @class = "form-control", @readonly = "true" })
                @Html.ValidationMessageFor(model => model.Total)
            </div>
        </div>
        <div class="arrange-div form-group col-md-12">
            <label class="text-label col-md-2" for="UserName">Giảm giá</label>
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Discount, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Discount)
            </div>
        </div>
        <div style="text-align:center" class="col-md-12">
            <input type="submit" value="Lưu Lại" class="btn btn-info" />
            <a href="~/OrderDetail/AdmView?code=@Model.OrderCode" class="btn btn-info">Về đơn hàng</a>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
        <script>
            var arr = [];
            var f = document.odForm;

            @foreach(long l in priceList.Keys){
                @Html.Raw(string.Format("arr[{0}] = '{1}';", l, priceList[l]));
            }

            function setPrice(val) {
                f.Price.value = arr[val];
            }

            function check(control) {
                if (isNaN(control.value)) {
                    alert('Số nhập không hợp lệ!');
                    control.focus();
                    return false;
                }
                return true;
            }
            function thanhtien() {
                var dg = parseFloat(f.Price.value);
                var sl = parseFloat(f.Amount.value);
                var thue = parseFloat(f.Tax.value);
                var tt = parseFloat(f.Total.value);

                if (parseInt(sl) > 0) {
                    tt = (sl * dg) + ((thue / 100) * (sl * dg));
                    f.Total.value = tt;
                }
            }
        </script>
    }

    
