@model IEnumerable<MVCProject.Models.OrdersDetail>

@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Views/Shared/_Layout.Frontend.cshtml";
    List<string> list = (List<string>)ViewData["CartRequestDetail"];
}

<form action="~/OrderDetail/Index" method="get" id="cartDetail">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        @ViewBag.Title
      </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr style="background-color: #3c8dbc; color:#fff">
                    <th>Mã Sản Phẩm</th>
                    <th>Giá</th>
                    <th>Số Lượng</th>
                    <th>Ngày Order</th>
                    <th>Thuế</th>
                    <th>Tổng</th>
                    <th>Xoá Sản Phẩm</th>
                </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row" style="text-align:left">
                                    @{
                            var p = ((IEnumerable<MVCProject.Models.Product>)ViewData["ProductList"]).Single(c => c.ID == item.IDProduct);
                            @Html.Raw(p.ProductName);
                                    }
                                </th>
                                <td align="right">
                                    @item.Price.ToString("#,###")
                                </td>
                                <td align="center"> 
                                    <input type="text" value="@item.Amount" name="quan_@item.IDProduct" id="quan_@item.IDProduct" maxlength="6"
                                            class="quantity-box" onended="alert('Ok')" />
                                </td>
                                <td>
                                    @DateTime.Now.ToString("dd/MM/yyyy")
                                </td>
                                <td align="right">
                                    @Html.DisplayFor(modelItem => item.Tax)%
                                </td>
                                <td align="right">
                                    @item.Total.ToString("#,###")
                                </td>
                                <td align="center">
                                    <a class="delete-btn add-button-disable" href="#" onclick="RemoveFromCart('@item.IDProduct');"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="arrange-button">
                <p>Tổng Cộng: &nbsp&nbsp&nbsp&nbsp<span>@ViewData["Total"] VND</span></p>
            </div>
        </div>
        @if ((Model != null && Model.Count() > 0) ||  (list != null && list.Count > 0))
        {
        <div class="arrange-button" style="text-align:right; padding-top: 20px">
            <input type="submit" value="Cập nhật đơn hàng" class="btn btn-info" id="exportOrder"/>
            <input type="button" value="Xác Nhận Đơn Hàng" 
               onclick="FunctionAccept();" class="btn btn-info" id="confirmOrder" />
            <input type="button" value="Hủy Yêu Cầu"
               onclick="FunctionClear()" class="btn btn-info" id="confirmOrder" />
        </div>
        }   
    </section>
    <script>
        function RemoveFromCart(id) {
            window.location = "../OrderDetail/Index/" + id;
        }
        function FunctionAccept() {
            var a = alertify.confirm('Xác nhận yêu cầu đơn hàng?', function (e) {
                if (e) {
                    window.location = '../Agent/AgentInfo';
                }
            }).set('title', 'Thông Báo').show();
        }
        function FunctionClear() {
            var a = alertify.confirm('Hủy đơn hàng?', function (e) {
                if (e) {
                    window.location = '../Order/Cancel';
                }
            }).set('title', 'Thông Báo').show();
        }
    </script>
</form>