@model IEnumerable<MVCProject.Models.OrdersDetail>

@{
    ViewBag.Title = "Thông Tin Đơn Hàng";
    Layout = "~/Views/Shared/_Layout.Frontend.cshtml";
    MVCProject.Models.AppNetUserType u = (MVCProject.Models.AppNetUserType)ViewData["AccountInfo"];
    MVCProject.Models.Location l = (MVCProject.Models.Location)ViewData["Location"];
    string lname = l != null ? l.LocationName : "";
}


<section class="content-header">
  <h2>
    @ViewBag.Title
  </h2>
</section>
<!-- Main content -->
<section class="content">
<div class="table-responsive">
    <h3>I. Thông Tin Đại Lý:</h3>
    <div class="left-info col-md-6">
      <p>Tên cá nhân / đại lý: <strong class="detail-info">@u.DisplayName</strong></p>
      <p>Đại chỉ: <strong>@u.Address @u.District</strong></p>
      <p>Điện thoại:<strong>@u.Phone</strong> - Fax:<strong>@u.Fax</strong></p>
    </div>
    <div class="right-info col-md-6">
      <p>Mã số thuế: <strong>@u.TaxID</strong></p>
      <p>Tỉnh/thành phố: <strong>@lname</strong></p>
      <p>Email: <strong>@u.Email</strong></p>
    </div>
</div>
<div class="table-responsive">
<h3>II. Sản phẩm yêu cầu:</h3>
    <table class="table table-striped">
        <thead>
            <tr style="background-color: #3c8dbc; color:#fff">
                <th>
                    Sản phẩm
                </th>
                <th width="9%">
                    Giá
                </th>
                <th width="9%">
                    Số lượng
                </th>
                <th width="9%">
                    Thuế suất
                </th>
                <th width="9%">
                    Thành tiền
                </th>
            </tr>
        </thead>
        @if (Model != null && Model.Count() > 0)
            {
        <tbody>
            
                @foreach (var item in Model)
                {
                    if (item.RequestByUser) { continue; }
                    <tr>
                        <th style="text-align:left">
                            @{
                    var p = ((IEnumerable<MVCProject.Models.Product>)ViewData["ProductList"]).Single(c => c.ID == item.IDProduct);
                    @Html.Raw(p.ProductName);
                            }
                            @item.IDProduct
                        </th>
                        <td align="right">
                            @item.Price.ToString("#,###")
                        </td>
                        <td align="right">
                            @item.Amount
                        </td>
                        <td align="right">
                            @Html.DisplayFor(modelItem => item.Tax)%
                        </td>
                        <td align="right">
                            @item.Total.ToString("#,###")
                        </td>
                    </tr>
                }
        </tbody>
        }
    </table>
    <div class="arrange-button">
        <p>Tổng Cộng: <span>@ViewData["Total"]</span></p>
    </div>
</div>
<div class="table-responsive" style="display:none">
@if (Model != null && Model.Count() > 0)
{
    <h3>III. Sản Phẩm Ngoài Danh Mục:</h3>
    <table class="table table-striped">
        <thead>
            <tr style="background-color: #3c8dbc; color:#fff">
                <th align="left">
                    Sản phẩm
                </th>
                <th align="left">
                    Số lượng
                </th>
                <th align="left">
                    Mô tả
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (!item.RequestByUser || item.Description == "") { continue; }
                <tr>
                    <th scope="row">@item.Description.Split('|')[0]</th>
                    <td>@item.Amount</td>
                    <td>@item.Description.Split('|')[1]</td>
                </tr>
            }
        </tbody>
    </table>
}
</div>
</section>