@model dynamic
@{
    Layout = null;
    int stt = 0;
    MVCProject.Report.InvoiceDetailParams invoiceparams = (MVCProject.Report.InvoiceDetailParams)ViewData["InvoiceRptParams"];
}

<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VLXD Thành Đạt</title>
    @Styles.Render("~/Content/css")
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" media="print" href="~/Content/printStyle.css">
</head>
<body>
    <div class="div-wrapper">
        <!-- Main content -->
        <section class="wrapper-print">
            <table class="first-table">
                <tr class="order-name">
                    <th rowspan=5 width="500px" style="text-align:left">Hóa Đơn Bán Hàng</th>
                </tr>
                <tr class="npp-name">
                    <td width="600px">Nhà Phân Phối VLXD Thành Đạt</td>
                </tr>
                <tr>
                    <td>193/40 Đường Văn Thân, Phường 8, Quận 6, Tp.HCM</td>
                </tr>
                <tr>
                    <td>ĐT: 0913.633.986 hoặc 0906.676.429</td>
                </tr>
                <tr>
                    <td>Email: nhaphanphoivlxdthanhdat@gmail.com</td>
                </tr>
                
            </table>
            <table class="second-table">
                <tr>
                    <td width="750px">Khách Hàng: @invoiceparams.Name</td>
                    <td></td>
                </tr>
                <tr>
                    <td width="750px">Địa Chỉ: @invoiceparams.Address</td>
                    <td></td>
                </tr>
                <tr>
                    <td width="450px">Điện Thoại: @invoiceparams.CellPhone</td>
                    <td width="450px">Số hóa đơn: @invoiceparams.InvoiceNum</td>
                </tr>
                <tr>
                    <td width="450px">Liên Hệ:</td>
                    <td width ="450px">Ngày: @invoiceparams.InvoiceDate</td>
                </tr>
             
            </table>
            <div>
                <table class="table table-bordered hoadon" style="margin-bottom: 0px;">
                    <thead>
                        <tr style="background-color: #3c8dbc; color:#fff">
                            <th>STT</th>
                            <th>Mã Hàng</th>
                            <th>Tên Hàng</th>
                            <th>ĐVT</th>
                            <th>SL</th>
                            <th>Đơn Giá</th>
                            <th>VAT</th>
                            <th>Thành Tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.InvoiceDetail)
                    {
                        <tr>
                            <th scope="row">@{stt++;} @stt</th>
                            <td style="text-align:left">@item._ProductCode</td>
                            <td style="text-align:left">@item._ProductName</td>
                            <td>@item._Unit</td>
                            <td style="text-align:center">@item._Amount</td>
                            <td style="text-align:right" width="100px">@item._Price.ToString("n0")</td>
                            <td style="text-align:center" width="50px">@item._Tax</td>
                            <td style="text-align:right" width="100px">@item._Total.ToString("n0")</td>
                        </tr>
                    }
                    </tbody>
                </table>
                <table class="table table-bordered table-rice">
                    <tr>
                        <td width="540px" colspan=6 rowspan=6 style="font-weight: bold">Ghi chú</td>
                    </tr>
                    <tr>
                        <td colspan=2 width="200px">Tiền Hàng</td>
                        <td colspan=2 width="200px" style="text-align:right">@invoiceparams.Total</td>
                    </tr>
                    <tr>
                        <td colspan=2 width="200px">Thuế VAT</td>
                        <td colspan=2 width="200px" style="text-align:right">@invoiceparams.VAT</td>
                    </tr>
                    <tr>
                        <td colspan=2 width="200px">Tổng cộng tiền hàng</td>
                        <td colspan=2 width="200px" style="text-align:right">@invoiceparams.TotalVAT</td>
                    </tr>
                    <tr>
                        <td colspan=2 width="200px">Công nợ cũ</td>
                        <td colspan=2 width="200px" style="text-align:right">@invoiceparams.Debt.ToString("n0")</td>
                    </tr>
                    <tr>
                        <td colspan=2 width="200px">Tổng công nợ</td>
                        <td colspan=2 width="200px" style="text-align:right">@invoiceparams.Payment.Value.ToString("n0")</td>
                    </tr>
                </table>
            </div>
            <div class="clearfix">

            </div>
            <!-- Your Page Content Here -->
            <p style="font-size:19px; font-weight:bold">@invoiceparams.AmountInWord</p>
            <div class="user-pri">
                <ul>
                    <li style="font-size:11px">Người Mua Hàng</li>
                    <li style="font-size:11px">Người Giao Hàng</li>
                    <li style="font-size:11px">Người Bán Hàng</li>
                    <li style="font-size:11px">Thử Trưởng Đơn Vị</li>
                </ul>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</body>
</html>

