@model IEnumerable<MVCProject.Models.Promotion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Dictionary<long, string> nList = (Dictionary<long, string>)ViewData["NameList"];
    string name = "";
    List<string> roles = (List<string>)ViewData["AccessList"];
}

<h2>Khuyến mãi</h2>

<p>
@if (roles.Contains("5"))
{
    @Html.ActionLink("Thêm mới", "Create")
    @Html.Raw(" :::: ")
}
@Html.ActionLink("Hình thức khuyến mãi", "Index", "PromotionType")
@if (roles.Contains("10"))
{
    @Html.Raw(" | ")
    <a href="../ProductCode/Create/?code=KM">Cấu hình mã khuyến mãi</a>
}
</p>
<table class="table">
    <tr>
        <th>
            Sản phẩm áp dụng
        </th>
        <th>
            Tiêu đề
        </th>
        <th>
            Kích hoạt
        </th>
        <th>
            Mã
        </th>
        <th>
            Ngày áp dụng
        </th>
        <th>
           Ngày hết hạn
        </th>
        <th>
           Ngày tạo
        </th>
        <th>
            Giá trị
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           @if(nList != null && nList.Count > 0 && nList.Keys.Contains((long)item.ProductID)){
                        name = nList[long.Parse(item.ProductID.ToString())];
                    }
                    else { 
                        name = ""; 
                    }
                    @name
            </td>
        <td>
            
            @if (roles.Contains("6"))
            {
                @Html.ActionLink(item.Title, "Edit", new { id = item.ID })
            }
            else
            {
                @item.Title
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromotionCode)
        </td>
        <td align="center">
            @DateTime.Parse(item.StartDate.ToString()).ToString("dd/MM/yyyy")
        </td>
        <td align="center">
            @DateTime.Parse(item.EndDate.ToString()).ToString("dd/MM/yyyy")
        </td>
        <td align="center">
            @DateTime.Parse(item.Created.ToString()).ToString("dd/MM/yyyy")
        </td>
        <td align="right">
            @Html.DisplayFor(modelItem => item.PromotionValue)
        </td>
       
    </tr>
}

</table>
