@model MVCProject.Models.ProductPrice

@{
    ViewBag.Title = "Thêm mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="~/ProductPrice/Create/" method="post" enctype="multipart/form-data">
    <section class="content-header">
        <h2>Thêm mới</h2>
        <h4>Giá sản phẩm</h4>
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        <div class='arrage-popup'>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="ProductID">Sản phẩm</label>
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.ProductID, (IEnumerable<SelectListItem>)ViewBag.ProductList,
                        "Chọn sản phẩm", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProductID)
                </div>
            </div>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="Price">Giá</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Price)
                </div>
            </div>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="Price">Mô tả</label>
                <div class="col-md-6">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="LocationID">Khu vực</label>
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.LocationID, (IEnumerable<SelectListItem>)ViewBag.LocationSubList,
                 "Chọn khu vực", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LocationID)
                </div>
            </div>
            <div style="text-align:center" class="col-md-12">
                <input type="submit" value="Lưu Lại" class="btn btn-info" />
                <a href="~/Product/Index" class="btn btn-info">Về danh sách</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
</form>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
