@model MVCProject.Models.ProductPrice

@{
    ViewBag.Title = "Chỉnh sửa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form action="~/ProductPrice/Edit/" method="post">
    <section class="content-header">
        <h2>@ViewBag.Title</h2>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.Created)
        @Html.HiddenFor(model => model.UserID)
    </section>
    <section class="content">
        <div class='arrage-popup'>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="ProductID">Sản phẩm</label>
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.ProductID, (IEnumerable<SelectListItem>)ViewBag.ProductList,
                        "Chọn sản phẩm", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProductID)
                </div>
            </div>

            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="Price">Giá</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Price)
                </div>
            </div>

            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="Description">Mô tả</label>
                <div class="col-md-6">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>

            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="LocationID">Tỉnh/thành phố</label>
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.LocationID, (IEnumerable<SelectListItem>)ViewBag.LocationList,
                 "Chọn tỉnh/thành phố", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LocationID)
                </div>
            </div>

            <div style="text-align:center" class="col-md-12">
                <input type="submit" value="Lưu Lại" class="btn btn-info" />
                <a href="~/Product/Index" class="btn btn-info">Về danh sách</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
</form>
