@model PagedList.IPagedList<MVCProject.Models.ProductPriceViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string size = Request.QueryString["size"];
    if (size == null || size == "") { size = "20"; }
    string subid = Request.QueryString["SubID"];
    if (subid == null || subid == "") { subid = "1"; }
    List<MVCProject.Models.LocationSub> listLocatSub = (List<MVCProject.Models.LocationSub>)ViewData["SubList"];
}
<section class="content-header">
    <h2>
        Giá sản phẩm
    </h2>
    <div class="arrange-button">
        
    </div>
</section>
<section class="content">
    <div class="sidebar-form">
        <div class="row">
            <div class="form-group col-sm-3">
                <div class="input-group">
                    <input type="text" name="filter" id="filter" class="form-control" placeholder="Tìm sản phẩm..." value="@Request.QueryString["filter"]">
                    <span class="input-group-btn">
                        <button type="submit" onclick="filterFromSubmit()" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Khu vực</span>
                    <select class="form-control" name="subid" id="subid" onchange="productViewForm.submit()">
                        <option value="0">Chọn khu vực</option>
                        @foreach (var i in listLocatSub)
                        {
                            <option value="@i.ID" @if (i.ID.ToString() == subid) { @Html.Raw("selected='selected'")              }>
                                @i.Name
                            </option>
                        }
                    </select>

                </div>
            </div>
            <div class="form-group col-sm-2">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Số Dòng</span>
                    <select class="form-control" name="size" id="size" onchange="productViewForm.submit();">
                        @for (int s = 10; s <= 50; s += 10)
                        {
                            <option value="@s" @if (size == s.ToString()) { @Html.Raw("selected='selected'")  }>@s</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr style="background-color: #3c8dbc; color:#fff">
                    <th>Sản phẩm</th>
                    <th>Giá</th>
                    <th>Ngày tạo</th>
                    <th>Mô tả</th>
                    <th>Khu vực</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row" style="text-align:left">
                            @item.name
                        </th>
                        <td align="right">
                            @item.price.ToString("n0")
                        </td>
                        <td>
                            @item.date.Value.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.desc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.locationsub)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <nav style="text-align:right">
            @Html.PagedListPager(Model, page => Url.Action("index", new
                           {
                               page,
                               size = size,
                               filter = ViewBag.Filter,
                               order = ViewBag.Order,
                               subid = subid
                           }))
        </nav>
    </div>
    <!-- Your Page Content Here -->
</section><!-- /.content -->
