@model PagedList.IPagedList<MVCProject.Models.PaymentOfStore>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Bảng kê thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string size = Request.QueryString["size"];
    if (size == null || size == "") { size = "50"; }
}

<form action="~/ReportsSales/PaymentOfStore" method="get" id="paymentofday">
    <section class="content-header">
        <h2>
            Sản phẩm
        </h2>
        <div class="arrange-button">
            <a href="../ReportsSales/ExportExcel" class="btn btn-info" id="modaltrigger" rel="leanModal">Xuất Excel</a>
        </div>
    </section>
    <section class="content">
        <div class="sidebar-form">
            <div class="row">
                <div class="form-group col-sm-3">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="submit" onclick="paymentofday.submit();" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Từ ngày</span>
                        <input class="form-control" type="text" name="DateFrom" id="DateFrom" />
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Đến ngày</span>
                        <input class="form-control" type="text" name="DateTo" id="DateTo" />
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Số Dòng</span>
                        <select class="form-control" name="size" id="size" onchange="paymentofday.submit();">
                            @for (int s = 50; s <= 100; s += 50)
                            {
                                <option value="@s" @if (size == s.ToString()) { @Html.Raw("selected='selected'")        }>@s</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr style="background-color: #3c8dbc; color:#fff">
                        <th>Đại lý</th>
                        <th>Tổng thanh toán</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row" style="text-align:center">
                                @item.Account
                            </th>
                            <td>
                                @item.Total.ToString("n0")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <nav style="text-align:right">
                @Html.PagedListPager(Model, page => Url.Action("Index", new
                           {
                               page,
                               size = size,
                               dateFrom = Request.QueryString["DateFrom"],
                               dateTo = Request.QueryString["DateTo"]
                           }))
            </nav>
        </div>
    </section>
    <script>
        $('#DateFrom').datetimepicker({
            value: '@Request.QueryString["DateFrom"]', step: 1
        });
        $('#DateTo').datetimepicker({
            value: '@Request.QueryString["DateTo"]', step: 1
        });
    </script>
</form>
