@model PagedList.IPagedList<MVCProject.Models.RevenueOfQuater>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Doanh thu quí";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string size = Request.QueryString["size"];
    if (size == null || size == "") { size = "50"; }
    string quarter = Request.QueryString["quarter"];
    if (quarter == null || quarter == "") { quarter = "1"; }
    string year = Request.QueryString["year"];
    if (year == null || year == "") { year = "2016"; }
}
<form action="~/ReportsSales/RevenueOfQuarter" method="get" id="RevenueOfQuarter">
    <section class="content-header">
        <h2>
            Doanh thu quí
        </h2>
        <div class="arrange-button">
            <a href="../ReportsSales/ExportExcel" class="btn btn-info" id="modaltrigger" rel="leanModal">Xuất Excel</a>
        </div>
    </section>
    <section class="content">
        <div class="sidebar-form">
            <div class="row">
                <div class="form-group col-sm-3">
                    <div class="input-group">
                        <input type="text" name="filterName" id="filterName" class="form-control" placeholder="Tìm tên" value="@Request.QueryString["filterName"]">
                        <span class="input-group-btn">
                            <button type="submit" onclick="RevenueOfQuarter.submit();" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Quí</span>
                        <select class="form-control" name="quarter" id="quarter">
                            @for (int s = 1; s <= 4; s += 1)
                            {
                                <option value="@s" @if (quarter == s.ToString()) { @Html.Raw("selected='selected'")                }>@s</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Năm</span>
                        <select class="form-control" name="year" id="year">
                            @for (int s = 2016; s <= 2026; s += 1)
                            {
                                <option value="@s" @if (year == s.ToString()) { @Html.Raw("selected='selected'")                }>@s</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Số Dòng</span>
                        <select class="form-control" name="size" id="size" onchange="RevenueOfQuarter.submit();">
                            @for (int s = 50; s <= 100; s += 50)
                            {
                                <option value="@s" @if (size == s.ToString()) { @Html.Raw("selected='selected'")             }>@s</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr style="background-color: #3c8dbc; color:#fff">
                        <th>Tên đại lý</th>
                        <th>Khu vực</th>
                        <th>Tổng tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.AccountName
                            </td>
                            <td align="center">
                                @item.LocationSub
                            </td>
                            <td>
                                @item.Total.ToString("n0")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="arrange-button">
                <p>Tổng cộng: <span>@decimal.Parse(ViewData["Total"].ToString()).ToString("n0")</span></p>
            </div>
        </div>
        <div class="arrange-button">
            <nav style="text-align:right">
                @Html.PagedListPager(Model, page => Url.Action("RevenueOfQuarter", new
                           {
                               page,
                               size = size,
                               quarter = quarter,
                               year = year,
                               filter = Request.QueryString["filterName"]
                           }))
            </nav>
        </div>
    </section>
</form>