@model IEnumerable<MVCProject.Models.AspNetUser>
@{
    ViewBag.Title = "Công nợ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string size = Request.QueryString["size"];
    if (size == null || size == "") { size = "20"; }

    Dictionary<string, decimal> dicSumOfOrders = (Dictionary<string, decimal>)ViewData["SumOfOrders"];
    Dictionary<string, decimal?> dicSumOfPay = (Dictionary<string, decimal?>)ViewData["SumOfPaymentDetail"];
    List<MVCProject.Models.LocationSub> listLocationSub = (List<MVCProject.Models.LocationSub>)ViewData["LocationSub"];
    List<MVCProject.Models.AppNetUserType> listUserType = (List<MVCProject.Models.AppNetUserType>)ViewData["UsersType"];

    string nameUser = "";
    decimal totalpay = 0, totalOrder = 0, total = 0;
}
<form action="~/Payment/Home" method="get" id="productViewForm">
    <section class="content-header">
        <h2>
            @ViewBag.Title
        </h2>
    </section>
    <section class="content">
        <div class="sidebar-form">
            <div class="row">
                <div class="form-group col-sm-3">
                    <div class="input-group">
                        <input class="form-control" type="text" name="filter" id="filter" value="@Request.QueryString["filter"]" />
                        <span class="input-group-btn">
                            <button type="submit" onclick="filterFromSubmit()" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-sm-4" style="float:left">

                </div>
                <div class="form-group col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Số Dòng</span>
                        <select class="form-control" name="size" id="size" onchange="productViewForm.submit();">
                            @for (int s = 10; s <= 50; s += 10)
                            {
                                <option value="@s" @if (size == s.ToString()) { @Html.Raw("selected='selected'")   }>@s</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr style="background-color: #3c8dbc; color:#fff">
                        <th>
                            Tên đại lý
                        </th>
                        <th>
                            Khu vực
                        </th>
                        <th align="right">
                            Tổng nợ
                        </th>
                        <th align="right">
                            Đã thanh toán
                        </th>
                        <th align="right">
                            Tổng tiền còn lại
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model!=null & Model.Count() > 0 & listLocationSub.Count>0)
                    {
                        foreach (var item in Model)
                        {
                            nameUser = MVCProject.Common.Security.EncryptString("User:" + @item.UserName + "~FrontendUser",
                            false, MVCProject.Common.EncryptType.TripleDES);
                            <tr>
                                <th scope="row" style="text-align:left">
                                    <a href="~/PaymentDetail/index?idaccount=@item.Id">@listUserType.Where(a => a.Username == nameUser).FirstOrDefault().DisplayName</a>
                                </th>
                                <td align="center">
                                   @listLocationSub.Where(a => a.ID == listUserType.Where(b=>b.Username==nameUser).FirstOrDefault().LocationSubID).FirstOrDefault().Name
                                </td>
                                <td align="right">
                                    @if (dicSumOfOrders.Keys.Contains(item.Id) == false)
                                    {
                                        totalOrder = 0;
                                    }
                                    else
                                    { totalOrder = (decimal)dicSumOfOrders[item.Id]; }
                                    @totalOrder.ToString("n0")
                                </td>
                                <td align="right">
                                    @if(dicSumOfPay!=null)
                                    {
                                        if (dicSumOfPay.Keys.Contains(item.Id) == false)
                                        {
                                            totalpay = 0; total = totalOrder - totalpay;
                                        }
                                        else
                                        { totalpay = (decimal)dicSumOfPay[item.Id]; total = totalOrder - totalpay; }
                                        
                                    }else
                                    {
                                        totalpay = 0; total = totalOrder - totalpay;
                                    }
                                    @totalpay.ToString("n0")
                                </td>
                                <td align="right">
                                    @total.ToString("n0")
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <script>
           
            function filterFromSubmit() {
                productViewForm.submit();
            }

            </script>
            <nav style="text-align:right">

            </nav>
        </div>
    </section>
</form>
