@using Microsoft.AspNet.Identity;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/Scripts/jquery.datetimepicker.full.min.js")
    @Scripts.Render("~/bundles/frontend")
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-74971617-2', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="~/Product/Index" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>VLXD</b>TĐ</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>VLXD</b>Thành Đạt</span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    @Html.Partial("_LoginPartial")
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Images/imgs/avatar5.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@User.Identity.GetUserName()</p>
                        <!-- Status -->
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                @if (Request.IsAuthenticated)
                {
                <!-- Sidebar Menu -->
                    <ul class="sidebar-menu">
                        <li class="header">Danh Mục</li>
                        <!-- Optionally, you can add icons to the links -->
                        <li class="active"><a href="~/Product/Index"><i class="fa fa-product-hunt"></i> <span>Sản phẩm</span></a></li>
                        <li class="active"><a href="~/ProductPriceLocationSub/index"><i class="fa fa-database"></i> <span>Giá sản phẩm theo khu vực</span></a></li>
                        <li>
                            <a href="#"><i class="fa fa-tasks"></i> <span>Danh mục</span><i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="~/Catalog/Index">Danh mục sản phẩm</a></li>
                                <li><a href="~/CatalogUnit/Index">Danh mục đơn vị tính</a></li>
                                <li><a href="~/Supplier/Index">Danh mục nhà cung cấp</a></li>
                                <li><a href="~/Location/Index">Tỉnh/Thành phố</a></li>
                                <li><a href="~/LocationSub/Index">Vùng</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-file-text"></i> <span>Báo cáo</span><i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="~/ReportsSales/RevenueInvoice">Bảng kê hóa đơn</a></li>
                                <li><a href="~/ReportsSales/RevenueOfMonth">Doanh thu theo tháng</a></li>
                                <li><a href="~/ReportsSales/RevenueOfQuarter">Doanh thu quí</a></li>
                                <li><a href="~/ReportsSales/RevenueOfYear">Doanh thu năm</a></li>
                                <li><a href="~/ReportsSales/PaymentOfDay">Tổng thanh toán theo ngày</a></li>
                                <li><a href="~/ReportsSales/PaymentOfStore">Tổng thanh toán theo đại lý</a></li>
                            </ul>
                        </li>
                        <li><a href="~/Payment/Index"><i class="fa fa-credit-card"></i> <span>Công nợ</span></a></li>
                        <li><a href="~/Order/Index"><i class="fa fa-list-ol"></i> <span>Đơn hàng</span></a></li>
                        <li><a href="~/Account/Index"><i class="fa fa-user"></i> <span>Tài khoản</span></a></li>
                        <li>
                            <a href="#"><i class="fa fa-hdd-o"></i> <span>Lịch sử truy cập</span><i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="~/LoginHistory/Index">Tổng hợp</a></li>
                                <li><a href="~/LoginHistory/Detail">Chi tiết</a></li>
                            </ul>
                        </li>
                    </ul><!-- /.sidebar-menu -->
                }
                else
                {
                    <ul class="sidebar-menu">
                        <li class="header">Danh Mục</li>
                        <!-- Optionally, you can add icons to the links -->
                        <li class="active"><a href="~/Views/Home/About"><i class="fa fa-product-hunt"></i> <span>Giới thiệu</span></a></li>
                        <li><a href="~/Views/Home/Contact"><i class="fa fa-tasks"></i> <span>Liên hệ</span></a></li>
                    </ul><!-- /.sidebar-menu -->
                }
            </section>
            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">

            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; @DateTime.Now.Year <a href="#">Công ty</a>.</strong>TNHH XD Thành Đạt.
        </footer>
    </div>
 
</body>
</html>
