@model IEnumerable<MVCProject.Models.Order>

@{
    ViewBag.Title = "Danh sách đơn hàng";
    Layout = "~/Views/Shared/_Layout.Frontend.cshtml";
}


<section class="content-header">
    <h2>
        @ViewBag.Title
    </h2>
</section>

<section class="content">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr style="background-color: #3c8dbc; color:#fff">
                    <th>
                        Mã đơn hàng
                    </th>
                    <th>
                        Ngày tạo
                    </th>
                    <th>
                        Tổng tiền trước thuế
                    </th>
                    <th>
                        Thuế suất
                    </th>
                    <th>
                        Tổng thanh toán
                    </th>
                    <th>
                        Giảm giá
                    </th>
                    <th>
                        Ngày xử lý
                    </th>
                    <th>
                        Ngày giao
                    </th>
                    <th>
                        Tình trạng
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <th>
                                <a href="../OrderDetail/UserView/?code=@item.OrderCode">@item.OrderCode</a>
                            </th>
                            <td align="center">
                                @DateTime.ParseExact(item.DateCreate, "yyyyMMddHHmm", System.Globalization.CultureInfo.InvariantCulture).ToString("dd/MM/yyyy")
                            </td>
                            <td align="right">
                                @item.TotalWithoutTax.ToString("#,###")
                            </td>
                            <td align="right">
                                @item.Tax
                            </td>
                            <td align="right">
                                @item.Total.ToString("#,###")
                            </td>
                            <td align="right">
                                @item.Discount.ToString("#,###")
                            </td>
                            <td align="center">
                                @{
                                    string sdate = "";
                                    if (item.DateProcessed != null && item.DateProcessed != "")
                                    {
                                        sdate = (DateTime.ParseExact(item.DateProcessed, "yyyyMMddHHmm", System.Globalization.CultureInfo.InvariantCulture).ToString("dd/MM/yyyy"));
                                    }
                                }
                                @sdate
                            </td>
                            <td align="center">
                                @if (item.DateShip != null && item.DateShip != "")
                                {
                                    sdate = (DateTime.ParseExact(item.DateShip, "yyyyMMddHHmm", System.Globalization.CultureInfo.InvariantCulture).ToString("dd/MM/yyyy"));
                                }
                                @sdate
                            </td>
                            <td>
                                @{
                        string state = item.State == "0" ? "Chờ xử lý" : item.State == "1" ? "Đã xem" :
                            item.State == "2" ? "Đã xử lý" : item.State == "2" ? "Đã chuyển hàng" : "";
                                }
                                @state
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>
