@model PagedList.IPagedList<MVCProject.Models.PaymentDetail>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Danh sách";
    Layout = "~/Views/Shared/_Layout.Frontend.cshtml";

    string size = Request.QueryString["size"];
    if (size == null || size == "") { size = "20"; }
}
<form action="~/PaymentDetail/Home" method="get" id="paymentdetailViewForm">
    <section class="content-header">
        <h2>
            Chi tiết thanh toán của @ViewBag.UserName
        </h2>
    </section>

    <section class="content">
        <div class="sidebar-form">
            <div class="row">
                <div class="form-group col-sm-3">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="submit" onclick="paymentdetailViewForm.submit()" name="idaccount" value="@Request.QueryString["idaccount"]" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Từ ngày</span>
                        <input class="form-control" type="text" name="DateFrom" id="DateFrom" />
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Đến ngày</span>
                        <input class="form-control" type="text" name="DateTo" id="DateTo" />
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Số Dòng</span>
                        <select class="form-control" name="size" id="size" onchange="paymentdetailViewForm.submit();">
                            @for (int s = 20; s <= 100; s += 20)
                            {
                                <option value="@s" @if (size == s.ToString()) { @Html.Raw("selected='selected'")              }>@s</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr style="background-color: #3c8dbc; color:#fff">
                        <th>Ngày thanh toán</th>
                        <th>Số tiền thanh toán</th>
                        <th>Ghi chú</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row" style="text-align:left">
                                @(DateTime.ParseExact(item.PayDate, "yyyyMMddHHmmss", System.Globalization.CultureInfo.InvariantCulture).ToString("dd/MM/yyyy"))
                            </th>
                            <td>
                                @item.Pay.Value.ToString("n0")
                            </td>
                            <td style="text-align:left">
                                @item.Description
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="arrange-button">
                <p>&nbsp;&nbsp;&nbsp;&nbsp; Thanh toán: <span>@double.Parse(ViewData["Total"].ToString()).ToString("#,###")</span></p>
            </div>
            <div class="arrange-button">
                <p>Tổng công nợ: <span>@double.Parse(ViewData["TotalDebt"].ToString()).ToString("#,###")</span></p>
            </div>
            <nav style="text-align:right">
                @Html.PagedListPager(Model, page => Url.Action("Home", new
                           {
                               page,
                               size = size,
                               filter = ViewBag.Filter,
                               order = ViewBag.Order
                           }))
            </nav>
        </div>
    </section>
    <script>
        $('#DateFrom').datetimepicker({
            value: '@Request.QueryString["DateFrom"]', step: 1
        });
        $('#DateTo').datetimepicker({
            value: '@Request.QueryString["DateTo"]', step: 1
        });
    </script>

</form>