@model MVCProject.Models.PaymentDetail
@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="~/PaymentDetail/Payment/" method="post" enctype="multipart/form-data" name="odForm" id="odForm">
    <section class="content-header">
        <h2>Thanh toán</h2>
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
    </section>
    <section class="content">
        <div class='arrage-popup'>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="ProductID">Ngày thanh toán</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.PayDate, new { @id = "PayDate", @name = "PayDate", @class = "form-control" })
                </div>
            </div>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="Price">Tiền thanh toán</label>
                <div class="col-md-6">
                    <input class="form-control" id="PayModel" name="PayModel" type="text" onchange="SetPrice();" maxlength="10" />
                    @Html.TextBoxFor(model => model.Pay, new { @class = "form-control", @type = "hidden" })
                    @Html.ValidationMessageFor(model => model.Pay)
                </div>
            </div>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="Price">Ghi chú</label>
                <div class="col-md-6">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @maxlength = "128" })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>
            <div style="text-align:center" class="col-md-12">
                <input type="submit" value="Lưu Lại" class="btn btn-info" />
                <a href="~/PaymentDetail/index?idaccount=@Request.QueryString["PayID"]" class="btn btn-info">Về danh sách</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <script>
        function SetPrice() {
            var f = document.odForm;
            f.Pay.value = f.PayModel.value;
            f.PayModel.value = accounting.formatMoney(f.Pay.value, { symbol: "đ", precision: 0, format: "%v %s" });
        }
        $("#PayDate").datetimepicker({
            value: '@DateTime.Now.ToString("yyyyMMddHHmm")', step: 1
        });
    </script>
</form>