@model MVCProject.Models.ModelView.CartView

@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="Cart-View" method="get" id="cartView">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr style="background-color: #3c8dbc; color:#fff">
                        <th>Sản Phẩm</th>
                        <th>Giá</th>
                        <th>Số Lượng</th>
                        <th>Chiết khấu</th>
                        <th>Tax</th>
                        <th>Tổng</th>
                        <th>Xoá Sản Phẩm</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Ordersdetail != null && Model.Ordersdetail.Count > 0)
                    {
                        foreach (var item in Model.Ordersdetail)
                        {
                            <tr>
                                <th scope="row" style="text-align:left">
                                    @Html.Raw(Model.Product.Where(a=>a.ID== item.IDProduct).FirstOrDefault().ProductName)
                                </th>
                                <td align="right">
                                    @item.Price.ToString("n0")
                                </td>
                                <td align="center">
                                    <input type="text" value="@item.Amount" name="amount_@item.IDProduct" id="quan_@item.IDProduct" maxlength="6" class="quantity-box" onended="alert('Ok')" />
                                </td>
                                <td align="center">
                                    <input type="text" value="@item.Discount" name="discount_@item.IDProduct" id="quan_@item.IDProduct" maxlength="2" class="quantity-box" onended="alert('Ok')" />
                                </td>
                                <td align="right">
                                    @Html.DisplayFor(modelItem => item.Tax)%
                                </td>
                                <td align="right">
                                    @item.Total.ToString("#,###")
                                </td>
                                <td align="center">
                                    <a class="delete-btn add-button-disable" href="#" onclick="RemoveFromCart('@item.IDProduct');"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="arrange-button">
                <p>Tổng Cộng: &nbsp&nbsp&nbsp&nbsp<span>@ViewData["Total"] VND</span></p>
            </div>
            <script>
                function RemoveFromCart(id) {
                    window.location = "../Cart/RemoveItemInCart/" + id;
                }
            </script>
        </div>
            <div class="arrange-button" style="text-align:right; padding-top: 20px">
                <input type="button" value="Trở lại đặt hàng" onclick="ReturnOrders();" class="btn btn-info" id="returnOrder" />
                @if (Model.Ordersdetail != null && Model.Ordersdetail.Count > 0)
                {
                <input type="submit" value="Cập nhật đơn hàng" class="btn btn-info" id="exportOrder" />
                <input type="button" value="Xác Nhận Đơn Hàng" onclick="FunctionAccept();" class="btn btn-info" id="confirmOrder" />
                <input type="button" value="Hủy Yêu Cầu" onclick="FunctionClear()" class="btn btn-info" id="confirmOrder" />
                }
            </div>
    </section>
    <script>
        function FunctionAccept() {
            var a = alertify.confirm('Xác nhận yêu cầu đơn hàng?', function (e) {
                if (e) {
                    window.location = '../Order/OrderCreateByAdmin';
                }
            }).set('title', 'Thông Báo').show();
        }
        function FunctionClear() {
            var a = alertify.confirm('Hủy đơn hàng?', function (e) {
                if (e) {
                    window.location = '../Cart/Cancel';
                }
            }).set('title', 'Thông Báo').show();
        }
        function ReturnOrders()
        {
            window.location = '../Product/Order';
        }
    </script>
</form>