@model PagedList.IPagedList<MVCProject.Models.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_Layout.Frontend.cshtml";
    List<MVCProject.Models.ProductImage> imgList = (List<MVCProject.Models.ProductImage>)ViewData["ImageList"];
    
    string cid = Request.QueryString["CatID"] == null ? "0" : Request.QueryString["CatID"];
    List<MVCProject.Models.Catalog> listCat = (List<MVCProject.Models.Catalog>)ViewData["CatList"];
    string size = Request.QueryString["size"];
    if (size == null || size == "") { size = "20"; }
    string catid = Request.QueryString["catid"];
    if (catid == null || catid == "") { catid = "0"; }

    Dictionary<long, decimal> pList = (Dictionary<long, decimal>)ViewData["PriceList"];
    Dictionary<long, string> nList = (Dictionary<long, string>)ViewData["NameList"];

    string name = "";
    double price = 0;
}
<form action="~/Product/Home" method="get" id="productViewForm">
    <section class="content-header">
        <h2>
            @ViewBag.Title
        </h2>
    </section>
    <section class="content">
        <div class="sidebar-form">
            <div class="row">
                <div class="form-group col-sm-3">
                    <div class="input-group">
                        <input class="form-control" type="text" name="filter" id="filter" value="@Request.QueryString["filter"]" />
                        <span class="input-group-btn">
                            <button type="submit" onclick="filterFromSubmit()"  name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                           <!-- <input type="button" onclick="filterFromSubmit()" name="search" id="search-btn" class="btn btn-flat" value="Tìm Kiếm"><i class="fa fa-search"></i></input>-->
                        </span>
                    </div>
                </div>
                <div class="form-group col-sm-4" style="float:left">
    
                        @if (ViewData["CartCount"] != "0")
                        {
                            <input type="button" onclick="GoToCart();" class="btn btn-info" value="(@ViewData["CartCount"]) Xem hóa đơn" />
                        }
                </div>
                <div class="form-group col-sm-3">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Danh Mục</span>
                        <select class="form-control" name="catid" id="catid" onchange="filterFromSubmit()">
                            <option value="0">Chọn danh mục</option>
                            @foreach (var i in listCat)
                            {
                                <option value="@i.ID" @if (i.ID.ToString() == cid) { @Html.Raw("selected='selected'")  }>
                                    @i.Title
                                    </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Số Dòng</span>
                         <select class="form-control" name="size" id="size" onchange="productViewForm.submit();">
                            @for (int s = 10; s <= 50; s += 10)
                            {
                                <option value="@s" @if (size == s.ToString()) { @Html.Raw("selected='selected'")  }>@s</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr style="background-color: #3c8dbc; color:#fff">
                        <!--<th>
                            Tên mặt hàng
                        </th>-->
                        <th>
                            Tên mặt hàng
                        </th>
                        <th>
                            Mã hàng
                        </th>
                        <th>
                            ĐVT
                        </th>
                        <th>
                            Giá
                        </th>
                        <th>
                            Bảo hành
                        </th>
                        @if ((MVCProject.Common.UserType)ViewBag.UserType == MVCProject.Common.UserType.User) { 
                            <th>
                                Thêm đơn hàng
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                @if (Model.Count() > 0) 
                    { 
                        foreach (var item in Model) {
                            <tr>
                                <!--<th scope="row" style="text-align:left">
                                    @*if (imgList != null && imgList.Count() > 0) {
                                        string img = "";
                                
                                        try
                                        {
                                            MVCProject.Models.ProductImage i = imgList.Single(c => c.ProductCode == item.ItemCode && c.ImageAddIn == "Intro");
                                    
                                            if (i != null && i.Image != null && i.Image != "")
                                            {
                                                if (i.ImageLink != null && i.ImageLink != "")
                                                {
                                                    img += "<a href='" + i.ImageLink + "' alt='" + item.ProductName + "'/>";
                                                }

                                                img += "<img class='product-intro' src='../Images/Intro/" + i.Image + "' title='" + item.ProductName + "'/>";

                                                if (i.ImageLink != null && i.ImageLink != "")
                                                {
                                                    img += "</a>";
                                                }
                                            }
                                        }
                                        catch
                                        {
                                            img = "<img class='product-intro' src='../Images/Intro/no-image.png' alt='" + item.ProductName + "'/>";
                                        }
                                    
                                        @Html.Raw(img);
                                    }*@
                                </th>-->
                                <th scope="row" style="text-align:left">
                                    @if(nList != null && nList.Count > 0 && nList.Keys.Contains(item.ID)){
                                        name = nList[item.ID];
                                    }
                                    else { 
                                        name = item.ProductName; 
                                    }
                                    @name
                                </th>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.ItemCode)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Unit)
                                </td>
                                <td align="right">
                                    @if (pList != null && pList.Count > 0 && pList.Keys.Contains(item.ID))
                                    {
                                        price = double.Parse(pList[item.ID].ToString());
                                    }
                                    else
                                    {
                                        if(item.Price != null)
                                        {price = Double.Parse(item.Price.ToString());}
                                        else
                                        {price = 0;}
                                    }
                                    @price.ToString("#,###")
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Warranty)
                                </td>
                                @if ((MVCProject.Common.UserType)ViewBag.UserType == MVCProject.Common.UserType.User) {
                                <td align="center">
                                    <a href="#" onclick="AddToCart('@item.ItemCode');">
                                        <img class='add-button-disable' src='../Images/imgs/add.png'  height="16" width="16" alt='@item.ProductName' />
                                    </a>
                                </td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <script>
            function GoToCart() {
                window.location = '../OrderDetail/Index';
            }
            function filterFromSubmit() {
                productViewForm.submit();
            }

            function AddToCart(code) {
                var val = document.getElementById("Cart").value;
                if (val.indexOf(code) == -1) {
                    if (val != '') val += ',';
                    val += code;
                    document.getElementById("Cart").value = val;
                    alert("Thêm đơn hàng thành công!");
                    productViewForm.submit();
                }
                else
                    alert("Sản phẩm đã được chọn!");
            }
                    </script>

            <nav style="text-align:right">
            @Html.PagedListPager(Model, page => Url.Action("Home", new { page, order = ViewBag.Order, 
            filter = ViewBag.Filter, size=size, catid=catid }))
            </nav>
            
        </div>
        <input type="hidden" name="Cart" id="Cart" value="@ViewData["Cart"].ToString()" />
    </section>
</form>
