@model MVCProject.Models.OrderProductView
@using PagedList.Mvc;
@{
    ViewBag.Title = "Chọn sản phẩm cho đơn hàng của " + Model.UserName;
    Layout = "~/Views/Shared/_Layout.cshtml";

    string cid = Request.QueryString["CatID"] == null ? "0" : Request.QueryString["CatID"];
    List<MVCProject.Models.Catalog> listCat = (List<MVCProject.Models.Catalog>)ViewData["CatList"];
    string size = Request.QueryString["size"];
    if (size == null || size == "") { size = "20"; }
    string catid = Request.QueryString["catid"];
    if (catid == null || catid == "") { catid = "0"; }

    string cartCode = ((MVCProject.Models.ModelView.CartView)Session[MVCProject.Common.CommonsConst.SessionCart]).Ordersdetail.Select(a => a.IDProduct).ToArray().ToString();
}
<form action="~/Product/Order" method="get" id="productViewForm">
    <section class="content-header">
        <h2>
            @ViewBag.Title
        </h2>
    </section>
    <section class="content">
        <div class="sidebar-form">
            <div class="row">
                <div class="form-group col-sm-3">
                    <div class="input-group">
                        <input class="form-control" type="text" name="filter" id="filter" value="@Request.QueryString["filter"]" />
                        <span class="input-group-btn">
                            <button type="submit" onclick="filterFromSubmit()" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-sm-4" style="float:left">
                    @if (ViewData["CartCount"] != "0")
                    {
                        <input type="button" onclick="GoToCart();" class="btn btn-info" value="(@ViewData["CartCount"]) Xem hóa đơn" />
                    }
                </div>
                <div class="form-group col-sm-3">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Danh Mục</span>
                        <select class="form-control" name="catid" id="catid" onchange="productViewForm.submit()">
                            <option value="0">Chọn danh mục</option>
                            @foreach (var i in listCat)
                            {
                                <option value="@i.ID" @if (i.ID.ToString() == cid) { @Html.Raw("selected='selected'")        }>
                                    @i.Title
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Số Dòng</span>
                        <select class="form-control" name="size" id="size" onchange="productViewForm.submit();">
                            @for (int s = 10; s <= 50; s += 10)
                            {
                                <option value="@s" @if (size == s.ToString()) { @Html.Raw("selected='selected'")        }>@s</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped wide-clickable">
                <thead>
                    <tr style="background-color: #3c8dbc; color:#fff">
                        <!--<th>
                            Tên mặt hàng
                        </th>-->
                        <th>
                            Tên mặt hàng
                        </th>
                        <th>
                            Mã hàng
                        </th>
                        <th>
                            ĐVT
                        </th>
                        <th>
                            Giá
                        </th>
                        <th>
                            Số lượng
                        </th>
                        <th>
                            Thêm đơn hàng
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.PageList.Count > 0)
                    {
                        foreach (var item in Model.PageList)
                        {
                            <tr>
                                <th scope="row" style="text-align:left">
                                    @item.ProductName
                                </th>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.ItemCode)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.UnitName)
                                </td>
                                <td align="right">
                                    @item.Price.Value.ToString("n0")
                                </td>
                                <td align="center">
                                    <input type="text" id="Amount-@item.ID" maxlength="6" class="quantity-box" />
                                </td>
                                <td align="center">
                                    <a href="#" class="elem-demo-@item.ID" onclick="AddToCart(@item.ID)">
                                        <img class='add-button-disable' src='~/Images/imgs/add.png' height="16" width="16" alt='@item.ProductName' />
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <nav style="text-align:right">
                @Html.PagedListPager(Model.PageList, page => Url.Action("Order", new
               {
                   page,
                   filter = @Request.QueryString["filter"],
                   size = size,
                   catid = catid
               }))
            </nav>
        </div>
    </section>
    <script>
        function AddToCart(code)
        {
            var quantity = document.getElementById("Amount-" + code).value;
            var cart = '@cartCode';
            if (cart.indexOf(code) == -1) {
                if (val != '') val += ',';
                $(".elem-demo-" + code).notify("Đã thêm giỏ hàng", "success");
                window.location.href = "~/Cart/AddItemToCart?id=" + code + "&quantity=" + quantity;
            }
            else
                $(".elem-demo-" + code).notify("Sản phẩm đã được chọn", "warn");
        }
    </script>
</form>
