@model PagedList.IPagedList<MVCProject.Models.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Giá sản phẩm theo khu vực";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<MVCProject.Models.Catalog> listCat = (List<MVCProject.Models.Catalog>)ViewData["CatList"];
    List<MVCProject.Models.LocationSub> listLocatSub = (List<MVCProject.Models.LocationSub>)ViewData["SubList"];

    string size = Request.QueryString["size"];
    if (size == null || size == "") { size = "20"; }
    string catid = Request.QueryString["catid"];
    if (catid == null || catid == "") { catid = "0"; }
    string subid = Request.QueryString["SubID"];
    if (subid == null || subid == "") { subid = "1"; }
    List<string> roles = (List<string>)ViewData["AccessList"];
}

<form action="~/ProductPriceLocationSub" method="get" id="productViewForm">
    <section class="content-header">
        <h2>
            Giá sản phẩm theo khu vực
        </h2>
    </section>
    <section class="content">
        <div class="sidebar-form">
            <div class="row">
                <div class="form-group col-sm-3">
                    <div class="input-group">
                        <input type="text" name="filter" id="filter" class="form-control" placeholder="Tìm sản phẩm..." value="@Request.QueryString["filter"]">
                        <span class="input-group-btn">
                            <button type="submit" onclick="filterFromSubmit()" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Khu vực</span>
                        <select class="form-control" name="subid" id="subid" onchange="productViewForm.submit()">
                            <option value="0">Chọn khu vực</option>
                            @foreach (var i in listLocatSub)
                            {
                                <option value="@i.ID" @if (i.ID.ToString() == subid) { @Html.Raw("selected='selected'")              }>
                                    @i.Name
                                </option>
                            }
                        </select>

                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Danh Mục</span>
                        <select class="form-control" name="catid" id="catid" onchange="productViewForm.submit()">
                            <option value="0">Chọn danh mục</option>
                            @foreach (var i in listCat)
                            {
                                <option value="@i.ID" @if (i.ID.ToString() == catid) { @Html.Raw("selected='selected'")            }>
                                    @i.Title
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Số Dòng</span>
                        <select class="form-control" name="size" id="size" onchange="productViewForm.submit();">
                            @for (int s = 10; s <= 50; s += 10)
                            {
                                <option value="@s" @if (size == s.ToString()) { @Html.Raw("selected='selected'")  }>@s</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr style="background-color: #3c8dbc; color:#fff">
                        <th>Tên Sản Phẩm</th>
                        <th>Mã Sản Phẩm</th>
                        <th>Mã Danh Mục</th>
                        <th>ĐVT</th>
                        <th>Giá</th>
                        <th>Thêm</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null & Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row" style="text-align:left">
                                    @item.ProductName
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ItemCode)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.CatID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitName)
                                </td>
                                <td style="text-align:right">
                                    @double.Parse(item.Price.ToString()).ToString("#,###")
                                </td>
                                <td>
                                    @if (roles.Contains("7"))
                                    {
                                        <a class="circle-bt" href="~/ProductPrice/Create/@item.ID?subid=@subid"><img src="~/Images/imgs/dollar-price-tag.png" height="12" width="12" alt="product price"></a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <nav style="text-align:right">
                @Html.PagedListPager(Model, page => Url.Action("index", new
                           {
                               page,
                               size = size,
                               filter = ViewBag.Filter,
                               order = ViewBag.Order,
                               catid = catid,
                               subid = subid
                           }))
            </nav>
        </div>
        <!-- Your Page Content Here -->
    </section><!-- /.content -->
</form>