@model MVCProject.Models.ProductName

@{
    ViewBag.Title = "Thêm mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/ProductName/Create" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <section class="content-header">
        <h2>Thêm mới</h2>
        <h4>Tên sản phẩm theo vùng</h4>
        @Html.ValidationSummary(true)

    </section>
    <section class="content">
        <div class='arrage-popup'>
            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="ProductID">Sản phẩm</label>
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.ProductID, (IEnumerable<SelectListItem>)ViewBag.ProductList,
                        "Chọn sản phẩm", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProductID)
                </div>
            </div>

            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="Name">Tên</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="arrange-div form-group col-md-12">
                <label class="text-label col-md-2" for="LocationID">Tỉnh/thành phố</label>
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.LocationID, (IEnumerable<SelectListItem>)ViewBag.LocationList,
                        "Chọn tỉnh/thành phố", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LocationID)
                </div>
            </div>
            <div style="text-align:center" class="col-md-12">
                <input type="submit" value="Lưu Lại" class="btn btn-info" />
                <a href="~/Product/Index" class="btn btn-info">Về danh sách</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
